/*RESET GLOBAL*/

:root {
  --marrom-claro: #c4a47c;
  --marrom-escuro: #604829;
  --cinza-escuro: #666666;
  --cinza-claro: #acacac;
  --branco: #ffffff;
  --preto: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*TOPO*/
