/*RESET GLOBAL*/

:root {
  --marrom-claro: #c4a47c;
  --marrom-escuro: #604829;
  --cinza-escuro: #666666;
  --cinza-claro: #acacac;
  --branco: #ffffff;
  --preto: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/********************************TOPO**********************************/

.topo {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--marrom-escuro);
  height: 100px;
}

.topo img {
  position: absolute;
  width: 100px;
  left: 150px;
}

.links-menu {
  position: absolute;
  right: 100px;
  top: 38px;
}

.links-menu a {
  color: var(--marrom-claro);
  text-decoration: none;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: bold;
  margin: 0px 10px;
  padding: 6px 12px;
  background-color: #4b2e14; /* ou qualquer marrom escuro que combine */
  border-radius: 6px;
  box-shadow: 8px 9px 17px -2px rgba(0, 0, 0, 0.6);
}

/********************************container-parallax1**********************************/

.container-parallax1 {
  background-image: url("assets/parallax-imagem1.png");
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container-parallax1 h1 {
  color: var(--branco);
  text-align: center;
  font-weight: 400;
  font-family: "Fraunces";
  font-size: 100px;

  position: absolute;
  top: 45%;
  right: 0px;
  left: 0px;
}

/********************************SECAO-INFORMAÇÕES**********************************/

.secao-informacoes {
  text-align: center;
  padding: 70px 0px;
}

.container-com-texto {
  max-width: 1024px;
  margin: 0 auto;
}

.container-com-texto h2 {
  font-family: Oswald;
  color: var(--marrom-claro);
  margin-bottom: 15px;
}

.container-com-texto p {
  font-family: Lato;
  color: var(--cinza-escuro);
  margin-bottom: 50px;
  line-height: 2;
}

/********************************SECAO-PARALLAX2**********************************/

.container-parallax2 {
  height: 500px;
  background-image: url(assets/parallax-imagem2.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-parallax2 h3 {
  position: absolute;
  top: 50%;
  right: 0px;
  left: 0px;

  font-size: 25px;
  background-color: var(--marrom-escuro);
  width: 500px;
  margin: 0 auto;
  color: var(--branco);
  font-family: "Fraunces";
  font-weight: 400;
  font-style: italic;
  padding: 10px;
}
